.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    padding: 5vmax;
}


.add-link {
    background-color: rgb(50, 50, 50);
    color: white;
    text-decoration: none;
    padding: 0.8vmax;
    margin-bottom: 2vmax;
    border-radius: 8px;
}


table {
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    border-collapse: collapse;
    width: 800px;
    /* height: 200px; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.500);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}


tr {
    transition: all .1s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: rgb(50, 50, 50);
    color: #fff;
}


tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.result-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vmax;
}

.result-action div {
    background-color: rgb(50, 50, 50);
    padding: 5px;
    color: white;
    border-radius: 8px;
}

.result-action div a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {

    .add-link {
        padding: 1.5vmax;
    }

    .table-container{
        min-height: 80vh;
    }

    table {
        width: 90%;
    }

    th,
    td {
        padding: 5px;
        font-size: 15px;
    }

    .result-action {
        flex-direction: column;
    }
}