.navbar {
    background-color: rgb(50, 50, 50);
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    margin-left: 2vmax;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-links{
    color: white;
    margin-left: 2vmax;
}

.menu-bars {
    margin-left: 2vmax;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 2vmax;
}


.nav-menu {
    background-color: rgb(50, 50, 50);
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 2;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu-items {
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;   
    padding: 1.5vmax;
}


.nav-menu-items li {
    list-style: none;
    justify-content: center;
    align-items: center;

}

.nav-menu-items li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1vmax 0.5vmax;
}

.nav-menu-items li svg {
    margin-left: 0.2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
    cursor: pointer;
}

.nav-menu-items li a:hover {
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
}

@media (max-width: 700px){

    .navbar {
        height: 50px;
    }

    .nav-menu{
        width: 100px;
        padding: 1.5vmax;
    }

    .nav-menu-items li svg {
        font-size: 3vmax;
    }

    .menu-bars{
        font-size: 4vmax;
    }
}